.banner video {
    width: 100%;
}

.banner_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/hero-water-image-destop.webp);
    background-size: cover;
    background-position: center;
}

.banner {
    background-color: #69b7e7;
}

.common_padding {
    padding: 100px 0;
}

.our_products_inner h2 {
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    color: #062A51;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 6px;
}

.our_products_block {
    margin-top: 44px;
}

.our_products_block_img {
    background-color: #F3F3F3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
}

.opbt_block_left h3 {
    color: #062A51;
    font-size: 22px;
    font-weight: 700;
}

.opbt_block_right p {
    color: #062A51;
    font-size: 16px;
}

.our_products_block_text {
    margin-top: 24px;
}

.price {
    margin-top: 10px;
}

.price h4 {
    color: #062A51;
    font-size: 24px;
    font-weight: 700;
}

.rating_block {
    margin: 24px 0;
}

.rating_block ul li i {
    font-size: 25px;
    color: #FFBC2A;
    margin-right: 5px;
}

.rating_block ul {
    display: flex;
}

.whatsapp_now_button_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #062A51;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff !important;
    padding: 18px 0;
    height: 55px;
    border-radius: 30px;
}

.about_us {
    background-image: url(../images/about-us-bg.webp);
    background-size: cover;
    background-position: center;
    padding: 200px 0 75px 0;
}

.about_us_left h6 {
    color: #0256E7;
    font-size: 22px;
    font-weight: 700;
}

.about_us_left h6 span {
    width: 53px;
    height: 2px;
    background-color: #0256E7;
    position: relative;
    display: inline-block;
    top: -5px;
    left: 20px;
}

.about_us_left h2 {
    margin-top: 20px;
    color: #062A51;
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Hanken Grotesk", sans-serif;
}

.about_us_left p {
    padding-top: 30px;
    color: #2C2C2C;
    font-size: 16px;
    line-height: 25px;
    width: 70%;
}

.about_us_left {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.why_choose {
    padding-top: 90px;
    background-color: #EEF2FF;
}

.why_choose_right h2 {
    color: #062A51;
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Hanken Grotesk", sans-serif;
    margin-bottom: 50px;
}

.wcr_block {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
    margin-bottom: 34px;
}

.wcr_block_right h4 {
    color: #202020;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.wcr_block_right p {
    margin-top: 16px;
    color: #2C2C2C;
    font-size: 16px;
    line-height: 25px;
}

.let_stay_connected {
    background-image: url(../images/cta-bg.webp);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.let_stay_connected_inner h4 {
    color: #ffffff;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
}

.number_body a i,
.email_body a i {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.number_body a,
.email_body a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
}

.number_body a span,
.email_body a span {
    margin: 0 5px;
}

.number_body {
    padding-right: 15px;
}

.email_body {
    padding-left: 20px;
    border-left: 2px solid #fff;
}

.body_mobile_email {
    margin-top: 30px;
}

.what_our_customers_say_inner h2 {
    color: #062A51;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-family: "Hanken Grotesk", sans-serif;
}

.what_our_customers_say_inner p {
    margin-top: 16px;
    color: #2C2C2C;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.what_our_customers_say_inner p span {
    display: block;
}

.slider_section_block {
    margin-top: 44px;
}

.slider_item_one {
    background-image: url(../images/cuctomers-says-item-bg.webp);
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
    padding: 25px 20px;
    border: 1px solid #EBEBEB;
    box-shadow: 2px 1px 17px 0px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.slider_item_block {
    display: grid;
    grid-template-columns: 42px 1fr;
    grid-gap: 20px;
    align-items: center;
}

.slider_text h5 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.slider_item_one p {
    margin-top: 30px;
    color: #141A1E;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    padding-left: 25px;
}

.slider_item_one p::before {
    position: absolute;
    top: -20px;
    left: 0;
    content: '\f10d';
    color: #4343C8;
    font-size: 25px;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
}

.slider_section_block .owl-carousel .owl-nav.disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.slider_section_block .owl-carousel .owl-nav.disabled .owl-prev,
.slider_section_block .owl-carousel .owl-nav.disabled .owl-next {
    width: 32px;
    height: 32px;
    background-color: #062A51;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_section_block .owl-carousel .owl-nav.disabled .owl-prev i,
.slider_section_block .owl-carousel .owl-nav.disabled .owl-next i {
    font-size: 18px;
    color: #ffffff;
}

.slider_section_block .owl-carousel .owl-nav.disabled .owl-next {
    margin-left: 20px;
}

.footer_section_new {
    position: relative;
    width: 100%;
    background: #5087be;
    min-height: 100px;
    padding-bottom:90px;
    margin-top: 140px;
    border-bottom: 1px solid #062A51;
}
.copyright{
    background-color:#5087be;
    padding: 25px 0;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/footer-wave.webp);
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

.footer_block_one p {
    margin: 23px 0;
    color: #1C1C1C;
    font-size: 16px;
    line-height: 25px;
}

.footer_block_one ul {
    display: flex;
    align-items: center;
}

.insta {
    margin: 0 15px;
}

.footer_block_two_left h5, .footer_block_two_right h5 {
    color: #062A51;
    font-size: 18px;
    font-weight: 700;
}

.footer_block_two_left ul li, .footer_block_two_right ul li {
    margin-top:24px;
}
.footer_block_two_left ul li a, .footer_block_two_right ul li a{
    color:#1C1C1C !important;
    font-size:16px;
    line-height: 25px;
}
.footer_block_two_right ul li a img{
    margin-right:5px;
}
.location{
    position: relative;
    color:#1C1C1C;
    font-size:16px;
    line-height: 25px;
    padding-left:34px;
}
.location::before{
    position: absolute;
    top:0;
    left: 0;
    content: url(../images/footer-location-icon.webp);
    overflow: auto;
}
.footer_block_three{
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
background: linear-gradient(to right, #e6f9ff, #0057b7);
height: 150px;
}
.footer_block_three_inner{
        padding-top: 20px;
    padding-right: 20px;
}
.copyright_inner p{
    color:#062A51;
    font-size:16px;
    line-height: 25px;
}
@media only screen and (min-width:1400px) {}

@media only screen and (max-width:1399px) {}

@media only screen and (max-width:1199px) {
  .slider_item_one p{
    height:180px;
  }  
}

@media only screen and (max-width:991px) {
    .footer_block_three{
        margin-top:30px;
    }
    .about_us_left p{
        width:100%;
    }
    .why_choose_left{
        text-align: center;
    }
}

@media only screen and (max-width:767px) {
.footer_block_two_left, .footer_block_two_right{
      margin-top:30px;
}
.about_us_right{
    margin-top:30px;
    text-align: center;
}

.email_body{
    padding-left:unset;
    border-left:unset;
}
.body_mobile_email {
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        margin-left: 140px;
    }
    .email_body{
        margin-top:18px;
    }
    .slider_item_one p{
    height:215px;
  } 
}

@media only screen and (max-width:575px) {
    .footer_block_one p span{
        display:block;
    }
    .footer_block_one{
        text-align: center;
    }
    .footer_block_one ul{
        justify-content: center;
    }
    .our_products_inner h2, .about_us_left h2, .why_choose_right h2, .let_stay_connected_inner h4, .what_our_customers_say_inner h2{
        font-size:32px;
        line-height: 40px;
    }
    .common_padding, .let_stay_connected {
    padding: 70px 0;
}
.opbt_block_left h3{
    font-size:18px;
}
.about_us{
    background-image: url(../images/about-mobile-bg.webp);
    background-size: cover;
    background-position: center;
    padding: 138px 0 66px 0; 
}
.about_us_left p{
    padding-top:20px;
}
.why_choose{
    padding-top:70px;
}
.wcr_block_right h4{
    font-size:22px;
    line-height: 30px;
}
 .slider_item_one p{
    height:110px;
  } 
  .footer_section_new{
    margin-top:90px;
  }
}
@media only screen and (max-width:522px) {
.body_mobile_email {
    margin-left:90px;
}
}
@media only screen and (max-width:440px) {
 .slider_item_one p{
    height:150px;
  } 
}
@media only screen and (max-width:420px) {
.body_mobile_email {
    margin-left:70px;
}
}
@media only screen and (max-width:380px) {
.body_mobile_email {
    margin-left:40px;
}
}
@media only screen and (max-width:360px) {
.slider_item_one p{
    height:200px;
  } 
}
@media only screen and (max-width:340px) {
.body_mobile_email {
    margin-left:15px;
}
}